doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
  body

    .container
      .header
        include ./includes/appmenu.jade

      include ./includes/footer.jade