doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Jade - node template engine
    #container.col-6
    
    .form-block
      input(name='route-title', class='')
    .form-block
      textarea(cols=5, rows=10, name='description', class='')
    .form-block