doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 pageTitle
    #container.col-6
    
    .routes-list
      .route-item
        .route-details
        .route-stats
        .route-option
          button(type='button', class='').Clear stats
          button(type='button', class='').Remove route