// list template to display routes

.routes-list
  .route-item
    .route-details
      span
    .route-stats
      | fkjsdhfjkhf
    .route-option
      button(type='button', class='btn btn-default')='Clear stats'
      button(type='button', class='btn btn-danger')='Remove route'
